name: Deploy DEV
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: DEV

    steps:
      - name: Set up SSH agent
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy on server via SSH
        run: |
          ssh -o StrictHostKeyChecking=no "$SSH_USER@$SERVER" 'bash -lc "
            set -e

            cd /var/www/dev/data/git/sf4-doc

            # Git
            git config --global --add safe.directory $PWD || true
            git reset --hard HEAD
            git clean -fd
            git pull --ff-only origin main

            # Сборка Docara (PHP должен быть 8.2+)
            composer install --no-dev --prefer-dist --no-interaction

            # Важно: если init нужен каждый раз
            php vendor/bin/docara init --update
            
            yarn prod

            php vendor/bin/docara build production

            rsync -av --delete $PWD/git/sf4-doc/build_production/ /var/www/dev/data/www/doc.sf4.simai.pro
          "'
        env:
          SSH_USER: ${{ vars.SSH_USER }}
          SERVER: ${{ vars.SSH_SERVER }}

